*.so
*.pyd
*.dll
*.lib
*.exe
*.out
*.a
*.o
*.obj
*.cubin
*.fatbin


build/
dist/
*.egg-info/
.eggs/
__pycache__/
*.pyc

.vscode/
.idea/
.DS_Store
*.swp
*.swo

.ninja_log
.ninja_deps
compile_commands.json
*.log

.env
.venv
env/
venv/
bin/
lib/